.titleCart{
    text-align: center;
    margin-top: 5%;
    text-decoration: underline;
}


.tableCartContainer{
margin-left: 12.5%;
margin-top: 2%;
font-family:Georgia, 'Times New Roman', Times, serif;   
}

.trCartProuduct{
    margin-top: 5%;
}

.sizingTdCartname{
    width: 0.5%;
    font-size: 20px;
}

.sizingTdCartImg{
    width: 0.25%;
}

.imgCart{
    height: 10vh;
}

.sizingTdCartCategory{
    width: 1%;
    font-size: 20px;
}

.sizingTdCartQuantity{
    width: 0.1%;
}

.sizingTdCartPrice{
    width: 0.1%;
    font-size: 20px;
}

.totalPrice{
    font-size: 30px;
    font-weight: bold;
    width: 120%;
}

.bottonCart{
width: 120%;
margin-left: 150%;

}

.divCartContainer{
    height: 80vh;   
}

.btnEmpty{
    margin-left: 5%;
}


.btnBuy{
    margin-left: 2%;
}