
.cardflex{
    margin-top: 3%;
    width: 30%;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.card-name{
    text-align: center;
    margin-top: 5%;
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.card-price{
    text-align: center;
    margin-top: 3%; 
    color: black;
    font-size: 1.3rem;
}

.card-link{
    text-decoration: none;
}

.card-btn{
    margin-left: 42%;
    margin-top: 2%;
}

.imgList{
    margin-left: 15%;
}